services:
  app:
    build:
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    depends_on:
      - pg
    
  pg:
    image: postgres:16
    container_name: anti_fraud-db
    environment:
      POSTGRES_DB: anti_fraud
      POSTGRES_USER: gala
      POSTGRES_PASSWORD: gala
    ports:
      - "5432:5432"
    
    restart: always

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_SERVER_MODE: 'False'
      PGADMIN_SECRET_KEY: 'mysecretkey123456' 
    ports:
      - "5050:80"